QPushButton,.QLabel {
    color:white;
    background-color:#00000000;
    border:none;
    spacing:48px;
}

QPushButton {
    qproperty-iconSize:48px 48px;
}

#popupwidget {
    background-color: white;
    border-radius:6px;
}
