QPushButton,.QLabel {
    color:white;
    background-color:#00000000;
    border:none;
    spacing:30px;
}

QPushButton {
    qproperty-iconSize:30px 30px;
}

#popupwidget {
    background-color:#80000000;
    border-radius:6px;
}
