QPushButton,.QLabel {
    color:white;
    background-color:#00000000;
    border:none;
}

QPushButton {
    qproperty-iconSize: 32px 32px; /* [size] */
}

#lineSplitter {
    max-height: 1px;
    border: none;
    background-color: rgb(67,77,89);
}

#inktoolspen {
    background-color:#2B3034;
    border:1px solid rgb(67,77,89);
    border-radius:8px; /* [size] */
}
