QPushButton,.QLabel {
    color:white;
    background-color:#00000000;
    border:none;
    spacing:48px;
}

QPushButton {
    qproperty-iconSize:48px 48px;
}

#lineSplitter {
    max-height: 1px;
    border: none;
    background-color: #80000000;
}

#inktoolspen {
    background-color: white;
    border-radius:6px;
}
