QPushButton {
    border:none;
    qproperty-iconSize: 32px 32px; /* [size] */
}

QPushButton:pressed {
    background-color:#1C61B0;
}

QPushButton:hover {
    background-color:#464A4E;
}

QLabel {
    border:none;
    font-family:'Microsoft YaHei';
    font-size:16pt; /* [size] */
}
